<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Filter type="ThresholdFilter" level="debug"/>
    <Properties>
        <Property name="path">C:\Users\Thorstein\logs\</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
        </Console>

        <File name="ResultsFile" fileName="${path}results.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
        </File>
        <File name="ErrorsFile" fileName="${path}errors.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <logger name="Results" level="info">
            <AppenderRef ref="ResultsFile" level="info"/>
        </logger>
        <logger name="Errors" level="error">
            <AppenderRef ref="ErrorsFile" level="error"/>
        </logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>